.country-details {
  padding: 5rem 10rem;

  &__back {
    margin-left: 8px;
  }

  &__body {
    margin-top: 7rem;
    display: flex;
    align-items: center;
  }

  &__flag {
    width: 50%;

    img {
      width: 80%;
      height: auto;
    }
  }

  &__information {
    margin-left: 6rem;
    width: 50%;

    .title {
      font-size: 3rem;
      letter-spacing: 1px;
    }
  }

  &__main {
    display: flex;
    width: 80%;
    justify-content: space-between;
  }

  &__borders {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2rem;

    p {
      margin: 0;
      min-width: 30%;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  &__button-wrapper {
    width: 80%;
    display: flex;
    flex-wrap: wrap;

    button {
      font-size: 1rem;
      margin: 1rem 0 1rem 1rem;
    }
  }
}
