*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  // defines what 1 rem is = 10px
  font-size: 62.5%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
  word-spacing: 1.5px;
  box-sizing: border-box;
}

.filter-search {
  padding: 0 10rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  justify-content: space-between;
  grid-gap: 2rem;
  margin-top: 3rem;
  padding: 0 10rem;
}
